<a routerLink="/activity/{{ activity.id }}" routerLinkActive="active">
  <div class="selector">
    <figure class="listing">
      <div class="listing-image">
        <img src="{{ activity.imageUrl }}" />
      </div>
      <div class="listing-content">
        <div class="listing-title">
          <h2>{{ activity.name }}</h2>
          <ul>
            <app-info-icon [activity]="activity"></app-info-icon>
            <li><span class="material-symbols-outlined">attach_money</span></li>
          </ul>
        </div>
        <div class="listing-metadata">
          <p>
            <span>Hours: </span>{{ timeFormatter(activity.hourBeginning) }}
            <span>Until </span>{{ timeFormatter(activity.hourEnding) }}
          </p>
          <p>
            <span>Dates: </span>{{ dateFormatter(activity.dateBeginning) }}
            <span>Thru </span>{{ dateFormatter(activity.dateEnding) }}
          </p>
        </div>
      </div>
    </figure>
  </div>
</a>
