.listing {
  display: flex;
  width: 800px;
  position: relative;
  border-radius: 12px;
  background-color: #f0f0f0;
  border: 2px solid #a8d1e7;
  box-sizing: border-box;
}

.listing-content {
  margin: 10px;
  margin-bottom: 70px;
}

.listing-title {
  margin-top: 4px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333333;
}

.listing-title ul {
  display: flex;
}

.listing-title li+li {
  margin-left: 12px;
}

.listing-title h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.listing-description {
  margin-top: 16px;
  font-size: 20px;
}

.listing-metadata {
  margin-bottom: 10px;
  font-size: 18px;
  position: absolute;
  bottom: 0;

}

.listing-metadata span {
  font-weight:700;
}

img {
  max-width: 325px;
  width: 100%;
  border-radius: 12px;
}

.button {
  font-size:16px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border: 1px solid #333333;
  border-radius: 12px;
  background-color: hsl(0, 83%, 49%);
  color: #ffffff;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: hsl(0, 83%, 40%);
}

.button:active {
  background-color: hsl(0, 83%, 40%);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
