.listing {
  display: flex;
  width: 660px;
  height: 179px;
  position: relative;
  border-radius: 6px;
  background-color: hsl(211, 100%, 97%);
}

.listing-content {
  margin: 10px;
}

.listing-title {
  margin-top: 4px;
  padding-bottom: 5px;
}

.listing-title ul {
  display: flex;
}

.listing-title li + li {
  margin-left: 8px;
}

.listing-title h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  color: hsl(211, 100%, 9%);
}

.listing-metadata {
  border-top: 1px solid hsl(211, 25%, 53%);
  margin-bottom: 14px;
  padding-top: 12px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  text-align: left;
  color: hsl(211, 100%, 5%);
  width: 48%;
  line-height: 20px;
}

.listing-metadata span {
  color: hsl(211, 25%, 53%);
}

img {
  margin: 12px;
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  border: 3px solid hsl(211, 25%, 53%);
}
