<a routerLink="/activity/{{id}}" routerLinkActive="active">
<div class="selector">
  <figure class="listing">
    <div class="listing-image">
      <img src="{{imageUrl}}" alt="alt descrip">
    </div>
    <div class="listing-content">
      <div class="listing-title">
        <h2>{{name}}</h2>
        <ul>
          <li>family-friendly, ie, ie</li>
        </ul>
      </div>
      <div class="listing-metadata">
        <p><span>Hours: </span>{{hourBeginning}} until {{hourEnding}}</p>
        <p><span>Starts: </span>{{dateBeginning}}</p>
        <p><span>Ends: </span> {{dateEnding}}</p>
      </div>
    </div>
  </figure>
</div>
</a>
