<a routerLink="/activity/{{ id }}" routerLinkActive="active">
  <div class="selector">
    <figure class="listing">
      <div class="listing-image">
        <img src="{{ imageUrl }}" />
      </div>
      <div class="listing-content">
        <div class="listing-title">
          <h2>{{ name }}</h2>
          <ul>
            <li>
              <span class="material-symbols-outlined">child_friendly</span>
            </li>
            <li><span class="material-symbols-outlined">attach_money</span></li>
          </ul>
        </div>
        <div class="listing-metadata">
          <p>
            <span>Hours: </span>{{ timeFormatter(hourBeginning) }} =
            {{ hourBeginning }} <span>Until </span
            >{{ timeFormatter(hourEnding) }} = {{ hourEnding }}
          </p>
          <p>
            <span>Dates: </span>{{ dateFormatter(dateBeginning) }}
            <span>Thru </span>{{ dateFormatter(dateEnding) }}
          </p>
        </div>
      </div>
    </figure>
  </div>
</a>
