<div class="action-container">
  <nav>
    <a class="button" href="#"><span class="material-symbols-outlined">
        menu
      </span></a>
  </nav>
  <ul class="primary-action">
    <li class="action">
      <a class="button" href="home"><span class="material-symbols-outlined">
          search
        </span>Find What's Popn</a>
    </li>
    <li class="action">
      <a class="button" href="add-event"><span class="material-symbols-outlined">
          add
        </span>Add What's Popn</a>
    </li>
  </ul>
</div>
