header {
  display: flex;
}

header nav {
  margin-left: 6px;
padding: 12px;
  background-color: #c1c8e4;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.primary-action {
  background-color: #c1c8e4;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 12px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .favicon {
background-color: #c1c8e4;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 12px;
  margin-right: 6px;
  display: flex;
  position: absolute;
  right: 0;
}

.favicon a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600 ;
}

li+li {
  margin: 0 6px;
}

.button {
  text-align: center;
  font: bold 18px Arial;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border: 1px solid #f1f0eb;
  border-radius: 12px;
  background-color: #DE1414;
  color: #ffffff;

}

a {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
