.event {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
  border-radius: 6px;
  background-color: hsl(211, 50%, 85%);
  border: 2px solid hsl(211, 50%, 85%);
  padding: 3px;
}

.content-background {
  background-color: hsl(211, 100%, 97%);
}

.event-content {
  margin: 10px;
  margin-bottom: 70px;
  border-radius: 6px;
}

.event-title {
  margin-top: 4px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(211, 10%, 73%);
}

.event-title ul {
  display: flex;
}

.event-title li + li {
  margin-left: 12px;
}

.event-title h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.event-description {
  margin-top: 16px;
  font-size: 16px;
}

.event-metadata {
  margin-bottom: 10px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.event-metadata p {
  margin-bottom: 2px;
}

.event-metadata span {
  font-weight: 700;
}

img {
  max-width: 700px;
  width: 100%;
  border-radius: 6px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border: 1px solid #333333;
  border-radius: 6px;
  background-color: hsl(0, 99%, 64%);
  color: #ffffff;
}

.button:hover {
  background-color: hsl(0, 99%, 64%);
}

.button:active {
  background-color: hsl(0, 99%, 64%);
  transform: translateY(4px);
}
