<p *ngIf="error; else activityPageView" class="error">There was a problem getting the product list.</p>
<ng-template #activityPageView>
<figure class="event">
  <div class="event-image">
    <img src="{{activity.image}}" alt="alt descrip">
  </div>
  <div class="event-content">
    <div class="event-title">
      <h2>{{activity.name}}</h2>
      <ul>
        <li><a class="button" href="#">Directions</a></li>
        <li><a class="button" href="#">Website</a></li>
      </ul>
    </div>
    <div class="event-description">
      <figcaption>
        <p>{{activity.description}}</p>
      </figcaption>
    </div>
    <div class="event-metadata">
      <p><span>Hours: </span>{{activity.hourBeginning}} until {{activity.hourEnding}}</p>
      <p><span>Starts: </span>{{activity.dateBeginning}}</p>
      <p><span>Ends: </span> {{activity.dateEnding}}</p>
    </div>
  </div>
</figure>
</ng-template>
