.event {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  position: relative;
  border-radius: 6px;
  background-color: hsl(211, 50%, 85%);
  border: 2px solid hsl(211, 50%, 85%);
  padding: 2px;
}

.content-background {
  background-color: hsl(211, 100%, 97%);
  margin-bottom: 3px;
  border-radius: 6px;
  margin-left: 5px;
}

.event-content {
  margin: 16px;
}

.event-title {
  margin-top: 4px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(211, 10%, 73%);
}

.event-title ul {
  display: flex;
}

.event-title li + li {
  margin-left: 12px;
}

.event-title h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.event-description {
  margin-top: 16px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 96px;
  max-width: 500px;
}

.event-metadata {
  margin-bottom: 10px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  line-height: 20px;
}

.event-metadata span {
  color: hsl(211, 25%, 53%);
}

.event-metadata p {
  margin-bottom: 2px;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: hsl(0, 99%, 64%);
  color: #ffffff;
}

.button:hover {
  background-color: hsl(0, 99%, 64%);
}

.button:active {
  background-color: hsl(0, 99%, 64%);
  transform: translateY(4px);
}
