.listings {
  margin-top: 4px;
}

.listing {
  border: 1px solid #333333;
  display: flex;
  margin: 12px;
}

.listing-content{
  margin: 2px;
}
.listing-title {
  display:flex;
  flex-direction: column ;
align-items: center;
}

.listing-title h2{
  font-size: 24px;
}

img {
  max-width: 600px;
  margin: 2px;
}
