@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&family=VT323&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.spectrum-background {
  background:
    linear-gradient(#24305e, transparent),
    linear-gradient(to top left, #374785, transparent),
    linear-gradient(to top right, #a8d0e6, transparent);
  background-blend-mode: screen;
}
