@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&family=VT323&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.background {
  background-color: hsl(211, 50%, 90%);
}

a {
  text-decoration: none;
}

.selector:hover {
  text-decoration: underline;
}

a {
  color: hsl(211, 100%, 9%);
}
