@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&family=VT323&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.background {
  background-color: hsl(0, 39%, 80%);
}

a {
  text-decoration: none;
}

.selector:hover {
  text-decoration: underline;
}

a {
  color: hsl(211, 100%, 9%);
}
