<div class="add-whats-popn">
  <div class="add-whats-popn-form">
    <form #addActivityForm="ngForm" (ngSubmit)="addEvent(addActivityForm.value)" action="add-whats-popn">
      <label for="name">Activity Name</label><br>
      <input ngModel type="text" id="name" name="name"><br>

      <label for="address">Activity Address</label><br>
      <input ngModel type="text" id="address" name="address"><br>

      <label for="website">Website</label><br>
      <input ngModel type="text" id="website" name="website"><br>

      <label for="description">Description</label><br>
      <textarea ngModel id="description" name="description" rows="4" cols="50"></textarea><br>

      <label for="hourBeginning">Open</label><br>
      <input ngModel type="time" id="hourBeginning" name="hourBeginning"><br>

      <label for="hourEnding">Closed</label><br>
      <input ngModel type="time" id="hourEnding" name="hourEnding"><br>

      <label for="dateBeginning">Begins</label><br>
      <input ngModel type="date" id="dateBeginning" name="dateBeginning"><br>

      <label for="dateEnding">Ends</label><br>
      <input ngModel type="date" id="dateEnding" name="dateEnding"><br>

      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</div>
